<nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active"><a routerLink="recipies" (click) = "onselect('recipe')">Recepies</a></li>
          <li routerLinkActive="active"><a routerLink="shopping-list" (click) = "onselect('shopping')">Shopping List</a></li>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText  placeholder="Search">         
            </span>
          </div>
          <button pButton type="button" label="Primary"></button>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li class="dropdown">
            <div class="dropdown">
              <button (click)="onAction()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown button
              </button>
              <div class="dropdown-menu {{isActionActive ? 'show' : ''}}" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Save Data</a>
                <a class="dropdown-item" href="#">Fetch Data</a>
              </div>
            </div>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>