<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onAddItem(f)" #f="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" name="item" id="name" class="form-control" ngModel required >
                    <p *ngIf="f.name" class="help-block">Name is invalid</p>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" name="amount" id="amount" class="form-control" ngModel required pattern="^[1-9]+[0-9]*$">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success mx-1" type="submit" [disabled]="!f.valid">{{editMode ? 'update' : 'add'  }}</button>
                    <button *ngIf="editMode" class="btn btn-danger mx-1" type="button" (click) = "onDeleteItems()" >Delete</button>
                    <button class="btn btn-primary mx-1" type="button" (click) ="onClear()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>