<div class="row">
    <div class="col-xs-12">
        <img src="{{recipe.imagePath}}" alt="" class="img-responsive">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{recipe.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="dropdown open" appDropdown>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown button
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item"  (click) = "addToShoppingList()">To shopping List</a>
              <a class="dropdown-item" (click) = "gotoEdit()" >Edit recipe</a>
              <a class="dropdown-item" (click)="deleteRecipe()" >Delete</a>
            </div>
          </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let Ritem of recipe.ingredients">{{Ritem.name}} - {{Ritem.amount}}</li>
        </ul>
    </div>
</div>