<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" [formGroup]="recipeForm" >
            <div class="row">
                <div class="col-xs-12">
                    <button [disabled]="!recipeForm.valid && recipeForm.touched" class="btn btn-success" type="submit">Save</button>
                    <button class="btn btn-danger" (click)="onCancel()">cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" type="text" name="name" id="name" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="ImagePath">ImagePath</label>
                        <input #imagePath formControlName="imagepath" type="text" name="ImagePath" id="ImagePath" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <img [src]="imagePath.value" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <textarea formControlName="description" type="text" name="description" id="description" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row mb-2"*ngFor="let ingredientCtrl of controlss; let i = index" [formGroupName]="i">
                        <div class="col-xs-8">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2">
                           <input type="number" name="" id="" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2">
                            <button type="button"  class="btn btnn-danger" (click)="onDeleteIngred(i)">X</button>
                         </div>
                       
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-success" (click) ="onAddIngredient()">Add Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>